html
	head
		title Chat Login
	body
		form(action = "/", method = "POST")
			div
				lable(for = "name") Name: 
				input(name = "name" placeholder = "Input your name" required autofocus)
			br
			button(type = "submit") Enter chat!