.form_message
{
	display: flex;
	background: red;
	width:500px;
	/*height: 50px;*/
}

#inputsubmit
{
	width: 100%;
}

.message_input
{
	float: left;
	width: 75%;
	background:green;
}

.send_message_button
{
	float: right;
	width: 25%;
	background:blue;
}

#btnsubmit
{	
	width: 100%;
}

#app
{
	display: inline-grid;
	grid-template-areas: 	"canvas"
							"form";
	background:#222222;
	padding:10 10 0 10;
	border-radius: 5px;
}

#canvas_div
{
	grid-area: canvas;
}

#message_form_container
{
	grid-area: form;
	margin: 20 0 20 0;
}

body
{
	/*margin: 0px;*/
}