.form_message
{
	display: flex;
	background: red;
	width:500px;
	/*height: 50px;*/
}

#inputsubmit
{
	width: 100%;
}

.message_input
{
	float: left;
	width: 75%;
	background:green;
}

.send_message_button
{
	float: right;
	width: 25%;
	background:blue;
}

#btnsubmit
{	
	width: 100%;
}

#app
{
	display: inline-grid;
	grid-template-areas: 	"canvas"
							"form";
	background:#222222;
	padding:10px 10px 0px 10px;
	border-radius: 5px;
}

/* width */
#app ::-webkit-scrollbar
{
  width: 5px;
}

/* Track */
#app ::-webkit-scrollbar-track
{

}
 
/* Handle */
#app ::-webkit-scrollbar-thumb
{
  background: #888; 
}

/* Handle on hover */
#app ::-webkit-scrollbar-thumb:hover
{
  background: #555;
}

#canvas_div
{
	grid-area: canvas;
	background: #333333;
	width: 500px;
	height: 500px;
	overflow-y: hidden;

}

#canvas_div:hover
{
	overflow-y: auto;
}

#message_form_container
{
	grid-area: form;
	margin: 20px 0px 20px 0px;
}

.chat_bubble
{
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 6px;
	background: rgb(80,80,80);
}

.bubble_message
{
	margin: 2px;
}

.bubble_sender
{
	margin: 2px;
	color: rgb(160,160,160);
	font-size: 12px;
}

body
{
	font-family: 'arial'
}